<template>
  <v-card class="icon-selector">
    <v-btn icon @click="clear()">
      <v-icon>{{ iconPaths.mdiMinusCircle }}</v-icon>
    </v-btn>
    <v-btn
      v-for="icon in icons"
      :key="icon.value"
      icon
      @click="select(icon.value)"
    >
      <v-icon :color="icon.color">
        {{ icon.icon }}
      </v-icon>
    </v-btn>
  </v-card>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import { mdiMinusCircle } from "@mdi/js";

// Types
import { EditorIconSelectorIcon } from "@typings/editor";

@Component
export default class EditorIconSelector extends Vue {
  /** List of icons */
  @Prop({ required: true })
  icons!: EditorIconSelectorIcon[];

  /** Selected icon */
  @Prop({ required: true })
  value!: string;

  iconPaths = { mdiMinusCircle };

  /**
   * Remove the icon selection
   * @returns Cleared selection
   */
  @Emit("clear")
  @Emit("input")
  clear(): null {
    return null;
  }

  /**
   * Select an icon
   * @param   icon Selected icon
   * @returns Selected icon
   */
  @Emit("select")
  @Emit("input")
  select(icon: string): string {
    return icon;
  }
}
</script>

<style lang="scss" scoped>
.icon-selector {
  display: flex;
  padding: 4px;
}
</style>
