<template>
  <v-app-bar :flat="isHomeRoute" app class="pr-1" color="primary" dark>
    <v-img
      alt="Logo"
      class="shrink mr-2"
      contain
      src="@assets/logo.png"
      transition="scale-transition"
      width="40"
    />

    <v-toolbar-title class="app-header__title">Journal</v-toolbar-title>

    <div v-if="authenticated" class="app-header__links">
      <v-btn exact rounded text to="/timeline">
        <v-icon left>{{ icons.mdiTimeline }}</v-icon>
        Timeline
      </v-btn>
    </div>

    <v-spacer></v-spacer>

    <div class="app-header__version">v{{ version }}</div>
    <template v-if="authenticated">
      <div v-if="user" class="app-header__account">
        {{ user.displayName }}
      </div>
      <v-menu :disabled="isLogoutRoute" minWidth="180">
        <template v-slot:activator="{ attrs, on }">
          <v-btn :disabled="isLogoutRoute" icon v-bind="attrs" v-on="on">
            <v-avatar v-if="user && user.photoUrl" size="40">
              <v-img
                class="app-header__account__photo"
                contain
                :src="user.photoUrl"
              />
            </v-avatar>
            <v-icon v-else>{{ icons.mdiAccount }}</v-icon>
          </v-btn>
        </template>
        <v-list class="app-header__account__list">
          <v-list-item to="/profile">
            <v-list-item-icon>
              <v-icon>{{ icons.mdiAccount }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Profile</v-list-item-title>
          </v-list-item>
          <v-divider />
          <v-list-item to="/logout">
            <v-list-item-icon>
              <v-icon>{{ icons.mdiLogout }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
    <template v-else>
      <template v-if="!isLogoutRoute">
        <v-btn
          :loading="authenticating"
          outlined
          rounded
          text
          @click="login('/timeline')"
        >
          <v-icon left>{{ icons.mdiGoogle }}</v-icon>
          Login
        </v-btn>
      </template>
    </template>
  </v-app-bar>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import {
  mdiAccount,
  mdiGoogle,
  mdiLogoutVariant as mdiLogout,
  mdiChartTimelineVariant as mdiTimeline,
} from "@mdi/js";

// Utilities
import config from "@/config";
import { AuthMixin } from "@mixins";

@Component
export default class TheAppHeader extends Mixins(AuthMixin) {
  icons = { mdiAccount, mdiGoogle, mdiLogout, mdiTimeline };
  version = config.version;

  /** Whether user is on logout route */
  get isLogoutRoute(): boolean {
    return this.$route.name === "logout";
  }

  /** Whether user is on home route */
  get isHomeRoute(): boolean {
    return this.$route.name === "home" && !this.authenticated;
  }
}
</script>

<style lang="scss" scoped>
.app-header__account {
  margin-right: 8px;
}

.app-header__account__list {
  padding-top: 0;
  padding-bottom: 0;
}

.app-header__account__photo {
  border: 2px solid white;
}

.app-header__title {
  font-size: 160%;
  font-weight: 300;
}

.app-header__links {
  margin-left: 24px;
}

.app-header__version {
  margin-right: 16px;
  opacity: 0.5;
}
</style>
