<template>
  <v-card class="entry">
    <div class="entry__text">{{ entry.text }}</div>
    <div class="entry__footer">
      <div class="entry__footer__info">
        <div class="entry__date">
          {{ date }}
          <span v-if="entry.updatedAt" class="entry__date--update">
            Edited
          </span>
        </div>
        <div class="entry__icons">
          <v-icon v-if="moodIcon" :color="moodIcon.color">
            {{ moodIcon.icon }}
          </v-icon>
          <v-icon v-if="entry.highlight" color="amber">
            {{ icons.mdiStar }}
          </v-icon>
        </div>
      </div>
      <div class="entry__footer__actions">
        <v-btn icon @click="update">
          <v-icon>{{ icons.mdiPencil }}</v-icon>
        </v-btn>
        <v-btn icon @click="deletePrompt">
          <v-icon>{{ icons.mdiDelete }}</v-icon>
        </v-btn>
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import { mdiDelete, mdiPencil, mdiStar } from "@mdi/js";
import dayjs from "dayjs";

// Utilities
import { moodIcons } from "@components/editor/helpers";

// Types
import { EditorIconSelectorIcon } from "@typings/editor";
import { Entry } from "@typings/entry";

@Component
export default class JournalEntry extends Vue {
  /** Journal entry */
  @Prop({ required: true })
  entry!: Entry;

  icons = { mdiDelete, mdiPencil, mdiStar };

  /** Journal entry date (readable) */
  get date(): string {
    return dayjs(this.entry.date).format("MMMM D, YYYY");
  }

  /** Journal entry mood icon */
  get moodIcon(): EditorIconSelectorIcon | null {
    const { mood } = this.entry;
    if (!mood) return null;

    return moodIcons[mood] ?? null;
  }

  /**
   * Delete a journal entry
   *
   * @returns Journal entry to delete
   */
  @Emit("delete")
  deletePrompt(): Entry {
    return this.entry;
  }

  /**
   * Update a journal entry
   * @param   entry - Journal entry to update
   *
   * @returns Journal entry to update
   */
  @Emit("update")
  update(): Entry {
    return this.entry;
  }
}
</script>

<style lang="scss" scoped>
.entry {
  width: 100%;
  padding: 20px;
  font-size: 0.95rem;
  line-height: 1.4;
}

.entry__text {
  margin-bottom: 16px;
  white-space: pre-wrap;
  font-weight: 400;
}

.entry__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entry__date {
  font-weight: 500;

  .entry__date--update {
    margin-left: 4px;
    color: map-get($grey, base);
    font-size: 0.8rem;
    font-weight: 300;
  }
}

.entry__icons {
  display: flex;
  align-items: center;

  > *:not(:first-child) {
    margin-left: 4px;
  }
}

.entry__footer__actions {
  display: flex;
  align-items: center;
}
</style>
