<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" sm="10" md="8" lg="7" xl="6">
        <v-card class="profile-card is-main">
          <v-card-title>
            <v-icon color="secondary" left>{{ icons.mdiAccount }}</v-icon>
            <div class="primary--text">Profile</div>
          </v-card-title>
          <v-divider />
          <div v-if="profile" class="profile-card__content">
            <v-avatar
              class="profile-card__avatar"
              color="primary lighten-2"
              :size="avatarSize"
            >
              <v-img v-if="profile.photoUrl" contain :src="profile.photoUrl" />
              <span v-else class="white--text text-h4">
                {{ profile.displayName.slice(0, 1) || "N/A" }}
              </span>
            </v-avatar>
            <div class="profile__details">
              <div class="profile__name">{{ profile.displayName }}</div>
              <div class="profile__email">{{ profile.email }}</div>
              <div class="profile__id">{{ profile.uid }}</div>
              <div class="profile__stats">
                <v-chip class="primary lighten-1">
                  <v-avatar color="primary darken-1" left>
                    {{ profile.entries }}
                  </v-avatar>
                  Entries
                </v-chip>
              </div>
            </div>
          </div>
        </v-card>

        <v-card class="profile-card">
          <div v-if="profile" class="profile-card__content">
            <v-avatar
              class="profile-card__avatar"
              color="blue-grey lighten-5"
              :size="avatarSize"
            >
              <v-icon color="primary" :size="avatarSize * 0.5">
                {{ icons.mdiBadge }}
              </v-icon>
            </v-avatar>
            <div class="profile__details">
              <div class="profile__detail">
                <div class="profile__detail--label">Phone</div>
                <div class="profile__detail--text">
                  {{ profile.phoneNumber || "N/A" }}
                </div>
              </div>
              <div class="profile__detail">
                <div class="profile__detail--label">Date Joined</div>
                <div class="profile__detail--text">
                  {{ profile.activatedAt | dayjs("MMM DD, YYYY") }}
                </div>
              </div>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  mdiAccount,
  mdiBadgeAccountHorizontal as mdiBadge,
  mdiChartBox as mdiChart,
} from "@mdi/js";

// Utilities
import { UserModule } from "@store/modules";
import { User } from "@typings/user";

@Component
export default class Profile extends Vue {
  avatarSize = 80;
  icons = { mdiAccount, mdiBadge, mdiChart };

  /** User profile */
  get profile(): User | null {
    return UserModule.user;
  }
}
</script>

<style lang="scss" scoped>
.profile-card {
  margin: 16px 0;

  &.is-main {
    margin: 24px 0;
  }
}

.profile-card__content {
  display: flex;
  align-items: center;
  padding: 24px;
}

.profile-card__avatar {
  align-self: flex-start;
  margin-right: 48px;

  > * {
    border-radius: unset;
  }
}

.profile__name {
  font-size: 1.2rem;
  font-weight: 500;
  color: map-get($blue-grey, darken-2);
}

.profile__id {
  font-size: 0.9rem;
  opacity: 0.5;
}

.profile__stats {
  margin-top: 8px;
}

.profile__details {
  > .profile__detail:not(:first-child) {
    margin-top: 8px;
  }
}

.profile__detail--label {
  font-weight: 500;
}
</style>
