<template>
  <div class="home-hero primary">
    <v-card class="welcome-card" elevation="4">
      <h2 class="welcome-card__title primary--text darken-4">
        Journal Your Life
      </h2>
      <div class="welcome-card__text">
        Chronicle your experiences, moods, and activities on a daily basis.
      </div>
      <v-btn
        :loading="authenticating"
        class="welcome-card__button"
        color="primary"
        large
        outlined
        rounded
        @click="login('/timeline')"
      >
        Get Started
      </v-btn>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";

// Utilities
import { AuthMixin } from "@mixins";

@Component
export default class Home extends Mixins(AuthMixin) {}
</script>

<style lang="scss" scoped>
// Background image colours
//  - Background: #1976D2
//  - LeftDark:   #E19D34
//  - LeftLight:  #E5AD54
//  - RightDark:  #42A5f5
//  - RightLight: #64B5F6
.home-hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;

  /* background by SVGBackgrounds.com */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e5ad54' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e19d34' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ff9878' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ff8362' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ff8faa' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ff779a' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23e897d9' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e581cf' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23ada7f6' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23a495f1' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2364b5f6' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2342a5f5' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.welcome-card {
  position: relative;
  top: -48px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 32px 64px;
  border-radius: 0 8px 8px 0 !important;
}

.welcome-card__button {
  margin-top: 24px;
  margin-left: auto;
}

.welcome-card__text {
  font-size: 1.25rem;
  font-weight: 300;
}

.welcome-card__title {
  font-size: 2.25rem;
  font-weight: 400;
}
</style>
