<template>
  <v-dialog
    :width="width"
    :value="value"
    max-width="400"
    persistent
    v-bind="$attrs"
    @input="(val) => $emit('input', val)"
  >
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>
      <v-card-text>
        <slot name="default" />
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn :disabled="loading" color="primary" small text @click="cancel">
          {{ cancelText }}
        </v-btn>
        <v-btn
          :disabled="disabled"
          :loading="loading"
          color="error"
          small
          text
          @click="confirm"
        >
          {{ confirmText }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

@Component
export default class ConfirmDialog extends Vue {
  /** Cancel button text */
  @Prop({ default: "No " })
  cancelText!: string;
  /** Confirm button text */
  @Prop({ default: "Yes " })
  confirmText!: string;
  /** Whether the confirmation dialog is disabled */
  @Prop({ default: false })
  disabled!: boolean;
  /** Whether the confirmation dialog is loading */
  @Prop({ default: false })
  loading!: boolean;
  /** Dialog title */
  @Prop({ required: true })
  title!: string;
  /** Dialog width */
  @Prop({ default: 350 })
  width!: number;
  /** Whether the dialog is shown */
  @Prop({ required: true })
  value!: boolean;

  /** Cancel handler */
  @Emit("input")
  @Emit("cancel")
  cancel(): boolean {
    return false;
  }

  /**
   * Confirm handler
   */
  @Emit("input")
  @Emit("confirm")
  confirm(): boolean {
    return false;
  }
}
</script>
