<template>
  <ConfirmDialog
    :value="value"
    cancelText="Stay"
    confirmText="Leave"
    title="Unsaved Changes"
    @cancel="close(false)"
    @confirm="close(true)"
    @input="(val) => $emit('input', val)"
  >
    There are unsaved changes that will be lost if you continue!
  </ConfirmDialog>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

// Components
import ConfirmDialog from "./ConfirmDialog.vue";

@Component({
  components: {
    ConfirmDialog,
  },
})
export default class FormLeaveDialog extends Vue {
  /** Whether dialog is shown */
  @Prop({ default: false })
  value!: boolean;

  /**
   * Decide whether form can be left or not
   * @param   leaving - Whether form can be left
   * @returns Whether form should be left
   */
  @Emit("leave-form")
  close(leaving: boolean): boolean {
    return leaving;
  }
}
</script>
