<template>
  <div class="logout-page">
    <v-card class="logout">
      <v-img
        class="logout__image"
        contain
        src="@assets/images/undraw_login.svg"
        max-width="200"
      />
      <div class="text-h5">
        Logging out&hellip;
      </div>
      <v-progress-circular
        class="my-6"
        color="primary"
        indeterminate
        size="64"
      />
      <v-btn rounded text @click="cancelLogout">
        Cancel
      </v-btn>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";

// Utilities
import { AuthMixin } from "@mixins";

/** Delay before logging out (seconds) */
const logoutDelay = 2000;

@Component
export default class Logout extends Mixins(AuthMixin) {
  /** Logout timeout reference */
  logoutTimeout: number | undefined = undefined;

  mounted(): void {
    // Log the user out after a brief interval to let them cancel the operation
    this.logoutTimeout = setTimeout(() => {
      this.logout();
    }, logoutDelay);
  }

  /**
   * Cancel the logout and return user to previous path
   */
  cancelLogout(): void {
    clearTimeout(this.logoutTimeout);

    this.$router.go(-1);
  }

  /**
   * Log the user out
   */
  logout(): void {
    clearTimeout(this.logoutTimeout);

    this.resetAuth();

    // NOTE: Must wait before redirecting to allow cleaning up auth state (used by router)
    setTimeout(() => {
      this.$router.replace("/");
    }, 10);
  }
}
</script>

<style lang="scss" scoped>
.logout-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 32px;
}

.logout__image {
  width: 100%;
  margin-bottom: 32px;
}
</style>
